.App {
  font-family: sans-serif;
  text-align: center;
}

#bgVideo {
    position: relative;
    left: 0;
    min-width: 100vw;
    z-index: -1;
}

.pages{
  margin-top: 15vh;
}

.site-footer {
  background-color: white;
  height: 15vh;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
  background-color: white;
  height: 15vh;
  position: fixed;
  width: 100%;
}

.navButton{
  background-color: #1376bc;
  color: white;
  border-radius: 50px;
  text-align: center;
  padding: .5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: .25vw

}

.desktopNavImg{
  margin-left: 10vw;
}

.collapse{
  text-align: center;
}

.pageTitle{
  color: #1376bc;
  font-weight: bold;
  border-bottom: solid 6px #fff200;
  margin: auto;
  margin-bottom: 4vh;
}