.App {
  font-family: sans-serif;
  text-align: center;
}

#bgVideo {
    position: relative;
    left: 0;
    min-width: 100vw;
    z-index: -1;
}

body {
  overflow: hidden;
}

.home {
  margin-top: -25vh;
}

.pages{
  margin-top:32vh;
}

.site-footer {
  background-color: white;
  height: 10vh;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
  background-color: white;
  width: 100%;
  height: 100px;
}

.navButton{
  background-color: #1376bc;
  color: white;
  border-radius: 50px;
  text-align: center;
  padding: .15vw;
  padding-left: .5vw;
  padding-right: .5vw;
  margin: .25vw

}

.regButton{
  background-color: #1376bc;
  color: white;
}

.regButton:hover {
  background-color: white;
  color: #1376bc;
  border: solid 2px #1376bc
}

.desktopNavImg{
  margin-right: 30vw;
}

.collapse{
  text-align: center;
}

.pageTitle{
  color: #1376bc;
  font-weight: bold;
  border-bottom: solid 6px #fff200;
  margin: auto;
  margin-bottom: 4vh;
}

.modalHeader { 
  color: #1376bc;
}